<h2 mat-dialog-title>Dados da Venda</h2>
<mat-dialog-content class="mat-typography">
    <mat-list>
        <mat-list-item>Cliente: Bill Gates </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Data: 30/07/2021</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Local: Avenida luiz correa cardoso nº 234</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Tipo: Serviço </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Status: Realizado</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Valor: R$ 820,00</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Pagamento em: -</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Pago: Não</mat-list-item>
    </mat-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
</mat-dialog-actions>