<mat-card class="example-card">

    <mat-card-title>
        Listagem de Produtos
    </mat-card-title>
    <section class="content">
        <button *ngIf='logado' mat-fab color="primary" matTooltip="Cadastrar Produto" (click)="createProduto()" class="sigelu-button-novo">
                    <mat-icon>add</mat-icon>
            </button>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <mat-form-field class="campo-pesquisa">
                    <input matInput placeholder="Pesquisar" [(ngModel)]="pesquisaCampos[0].texto" (keyup.enter)="onEnter(pesquisaCampos[0].texto)">
                    <mat-icon class="expandir-button" style="cursor:pointer" matSuffix matTooltip="Pesquisar" (click)="onChange()">search</mat-icon>
                    <mat-icon [class.btn-disable]="!pesquisaCampos[0].texto" class="expandir-button" style="cursor:pointer" matTooltip="Limpar" matSuffix (click)="onClean()">clear</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
            </div>
            <div class="row col-lg-4 col-md-12 col-sm-12">
            </div>
        </div>

        <mat-card-content>
            <div class="container-card">
                <mat-card class="example-card" *ngFor="let produto of produtos">
                    <mat-card-header class="teste-pai">

                        <button *ngIf='logado' mat-icon-button class="button-delete" matTooltip="Deletar produto" (click)="onDelete(produto.id,produto.name)">
                            <mat-icon>delete</mat-icon>
                        </button>

                        <button *ngIf='logado' mat-icon-button class="button-edit" matTooltip="Editar produto" (click)="onUpdate(produto.id)">
                            <mat-icon>edit</mat-icon>
                        </button>

                        <mat-card-title>{{produto.name}} </mat-card-title>
                        <!--
                        <mat-card-subtitle>
                            <div *ngIf="!produto.usuario.pagamento_cartao">
                                <span style="color: #b24c4c;">Não aceita cartão</span>
                            </div>
                            <div *ngIf="produto.usuario.pagamento_cartao">
                                <span style="color: #4CB258;">Aceita cartão</span>
                            </div>
                        </mat-card-subtitle>
                        -->

                    </mat-card-header>
                    <div (click)="visualizaProduto(produto.id)" class="mat-content">
                        <!--<img mat-card-image src="http://127.0.0.1:3000/files/{{produto.imagem}}" class="imagem-produto">-->
                        <img mat-card-image src="{{produto.imageUrl}}" class="imagem-produto">
                        <mat-card-content>
                            <p>
                                <span style="font-weight: bold;">Descrição:</span> {{produto.description}}
                            </p>
                        </mat-card-content>
                    </div>
                </mat-card>
            </div>
        </mat-card-content>
    </section>
</mat-card>