<body class="body">
    <div class="container">
        <div class="centralizar">
            <mat-card>
                <mat-card-title>
                    Cadastro de usuário
                </mat-card-title>
                <form class="cadastro-form" [formGroup]="userForm">
                    <div class="row">
                        <mat-form-field class="entrada-nome">
                            <mat-label>Nome</mat-label>
                            <input matInput placeholder="nome" formControlName="nome">
                        </mat-form-field>
                        <mat-form-field class="entrada-sobrenome">
                            <mat-label>Sobrenome</mat-label>
                            <input matInput placeholder="sobrenome" formControlName="sobrenome">
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field class="example-full-width">
                            <mat-label>Endereço</mat-label>
                            <input matInput placeholder="endereco" formControlName="endereco">
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field class="example-full-width">
                            <mat-label>Celular</mat-label>
                            <input [textMask]="{mask: mask}" type="text" matInput placeholder="(99) 999999999" formControlName="celular">
                        </mat-form-field>
                    </div>
                    <mat-form-field class="example-full-width">
                        <mat-label>Insira sua senha</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="senha">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <br>
                    <div class="buttons">
                        <div class="buttons"><button mat-raised-button class="button-cadastrar" (click)="cadastraUsuario()" [disabled]="!this.userForm.valid">Cadastrar</button></div>
                        <div class="buttons"><button mat-raised-button class="button-voltar" (click)="goBack()">Voltar</button></div>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>
</body>