mat-card {
    height: 90vh;
}

.mensagem {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}

.mensagem-texto {
    margin-top: 10%;
    margin-bottom: 10%;
}

.mensagem-imagem {
    margin-left: -6%;
}