<h2 mat-dialog-title>Atualizar Produto</h2>
<mat-dialog-content class="mat-typography">
    <form class="cadastro-form" [formGroup]="productForm">
        <div class="row">
            <mat-form-field class="example-full-width">
                <mat-label>Nome</mat-label>
                <input matInput placeholder="nome" formControlName="name">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="example-full-width">
                <mat-label>Descriçao</mat-label>
                <textarea matInput placeholder="Descrição" formControlName="description"></textarea>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="example-full-width">
                <mat-label>Quantidade</mat-label>
                <input matInput type="number" formControlName="quantity" min="0">
            </mat-form-field>
        </div>
        <div class="row">
            <input style="display: none" type="file" (change)="readURL($event);" #fileInput>
            <button (click)="fileInput.click()" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                <mat-icon>publish</mat-icon>
                <mat-label>Enviar imagem</mat-label>
            </button>
        </div>

        <div class="row">
            <img [src]="imageSrc" alt="your image" *ngIf="imageSrc" />
        </div>
        <br>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <div class="buttons">
        <div class="buttons"><button mat-raised-button class="button-cadastrar" (click)="onUpload()" [disabled]="!this.productForm.valid">Cadastrar</button></div>
        <div class="buttons"><button mat-raised-button class="button-voltar" mat-dialog-close>Voltar</button></div>
    </div>
</mat-dialog-actions>