<h2 mat-dialog-title>Atualizar Pessoa</h2>
<mat-dialog-content class="mat-typography">
    <form class="cadastro-form" [formGroup]="pessoaForm">
        <div class="row">
            <mat-form-field class="example-full-width">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="nome" />
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="example-full-width">
                <mat-label>Contato</mat-label>
                <input [textMask]="{mask: mask}" type="text" matInput placeholder="(99) 999999999" formControlName="celular">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="example-full-width">
                <mat-label>Endereco</mat-label>
                <textarea matInput formControlName="endereco"></textarea>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="example-full-width">
                <mat-label>Tipo</mat-label>
                <mat-select name="food" formControlName="tipo">
                    <mat-option *ngFor="let tipo of tipos" [value]="tipo.id">
                        {{tipo.tipo}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <br>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <div class="buttons"><button mat-raised-button class="button-cadastrar" (click)="cadastraUsuario()" [disabled]="!this.pessoaForm.valid">Cadastrar</button></div>
    <div class="buttons"><button mat-raised-button class="button-voltar" mat-dialog-close>Voltar</button></div>
</mat-dialog-actions>